* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  background-image: linear-gradient(
    to right,
    rgb(0, 183, 255),
    rgb(193, 236, 248)
  );
  color: white;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 12vh;
}

.titles {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
body {
  background-color: white;
}

#title {
  color: white;
  font-size: larger;
}

#small-title {
  color: white;
  font-size: small;
}

#weatherDisplay {
  margin-top: 8vh;
  color: rgb(121, 118, 118);
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.info {
  margin-top: 8vh;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  align-content: center;
  justify-content: center;
  font-size: large;
}

#submitButton {
  color: darkgray;
  min-height: 3vh;
  min-width: 5vw;
  pointer-events: all;
  cursor: pointer;
}

.search-box {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  min-height: 5vh;
  min-width: 20vw;
}
